{
    "wifi_ssid": "",
    "wifi_password": "",
    
    "physical" : false,
    "temp_sensor_pin": 25,
    "co2_sensor_uart":2,
    "sensor_name": "",
    
    "measure_interval": 30,

    "mock_endpoint": "",

    "mqtt_broker": "",
    "mqtt_topic": "",
    "mqtt_user": "",
    "mqtt_password": "",
    "mqtt_port": 1883
    

}