{
    "wifi_ssid": "",
    "wifi_password": "",

    "mqtt_broker": "homeassistant",
    "mqtt_user": "mqtt",
    "mqtt_password": "",
    "mqtt_port": 1883,
    
    "mock_endpoint": "http://host:8080/",

    "node_name": "sensor-node-2",
    "manufacturer": "Espressif",
    "model": "ESP32",
    "sw_version": "1.1",
    
    "measure_interval": 30

    "sensors": [
        {
            "id":1,
            "sensor_type": "light_sensor",
            "pins":[22,21]
        },
        {
            "id":2,
            "sensor_type": "pressure_sensor",
            "pins":[5,4]
        },
        {
            "id":3,
            "sensor_type": "co2_sensor",
            "pins":[2]
        },
        {
            "id":4,
            "sensor_type": "temperature_sensor",
            "pins":[25]
        }
    ]
}