{
{
    "wifi_ssid": "",
    "wifi_password": "",

    "mqtt_broker": "homeassistant",
    "mqtt_user": "mqtt",
    "mqtt_password": "",
    "mqtt_port": 1883,
    
    "physical" : true,
    "mock_endpoint": "http://host:8080/",

    "sensor_name": "sensor-node-2",
    "manufacturer": "Espressif",
    "model": "ESP32",
    "sw_version": "1.1",
    
    "measure_interval": 30

}
}